/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/data
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode